body {
  background-color: #d6ebe7; 
}

h1, 
h2 {
  color: #313740;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}


span {
  font-family: 'Archivo', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

#finalScore {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

#questionTitle {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

#checkAnswer {
  font-style: italic;
  color: #4D5159;
}